.app.dark {
  --bg-color: rgb(32, 32, 32);
  --inverted-bg-color: rgb(222, 222, 222);
  --primary-color: rgb(0, 182, 210);
  --secondary-color: white;
  --inverted-primary-color: rgb(158, 6, 77);
  --inverted-secondary-color: black;
}
