.app.light {
  --bg-color: rgb(222 222 222);
  --inverted-bg-color: rgb(32 32 32);
  --primary-color: rgb(158 6 77);
  --secondary-color: black;
  --inverted-primary-color: rgb(0 182 210);
  --inverted-secondary-color: white;
}
